@font-face {
    font-family: 'Norse Bold';
    src: url('fonts/Norse-Bold.woff2') format('woff2'),
        url('fonts/Norse-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Roboto-SemiBold';
    src: url('fonts/Roboto-SemiBold.woff2') format('woff2'),
        url('fonts/Roboto-SemiBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
